/* Pc */
@media (min-width: 998px) {
  .nav__mobile,
  .menu-overlay,
  .intro__item--mobile {
    display: none;
  }
}
/* Tablet  */
@media (max-width: 997.98px) {
  .nav {
    display: none;
  }
  .main-content {
    padding: 50px 0;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 56% 0 0;
    background-color: var(--default-word);
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 3;
    padding: 38px;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer__top {
    margin-bottom: 30px;
  }
  .menu__close {
    color: var(--white);
    font-size: min(5vw, 2.6rem);
    cursor: pointer;
    transition: opacity 0.5s ease;
  }
  .list__btn {
    font-size: 4rem;
    color: #fff;
    cursor: pointer;
  }
  .menu__close:hover {
    opacity: 0.8;
  }
  .menu__close:active {
    scale: 1.1;
  }
  .nav__list--mobile {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .nav__link {
    font-size: 1.8rem;
    display: block;
    padding: 1rem;
  }
  .nav__list--mobile .nav__link:hover {
    background-color: hsla(0, 0%, 100%, 0.502);
  }

  /* Hero */
  .intro__top {
    padding: 0;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .heading {
    width: 70%;
  }
  .intro__content {
    width: 70%;
  }
  .intro__cta {
    justify-content: center;
  }
  .intro__item {
    bottom: 10px;
  }
  /* about */
  #about {
    margin-top: 0;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
  }
  .about__left {
    width: 84%;
    margin: 0 auto;
  }
  .about__right {
    width: 84%;
    text-align: center;
    margin: 0 auto;
  }
  .achievement {
    bottom: auto;
  }
  .achievement__section {
    padding: 1.2vw;
  }

  .about__social {
    justify-content: center;
  }
  .social__link {
    width: 4.8rem;
    height: 4.8rem;
  }
  /* galery */
  #gallery,
  #service {
    padding-top: 0;
  }
  .gale__title,
  .service__title {
    width: 64.15%;
  }
  .service__title {
    margin: 0 auto;
    text-align: center;
  }
  .service__main {
    flex-direction: column;
  }
  .service__left {
    gap: 2.4rem;
    width: 84%;
  }
  .service__item {
    padding: 3.2rem;
  }
  .service__right {
    margin-top: 4.4rem;
    width: 84%;
  }
  .ser__img {
    width: 33%;
    object-fit: contain;
    /* min-height: 417px; */
  }
  /* Price */
  .price__container {
    flex-direction: column;
    /* text-align: center; */
  }
  .pri__btn {
    width: 50%;
  }
  /* ins */
  .ins__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .ins__img {
    width: 100%;
  }
  /* contact */
  .contact__container {
    flex-direction: column;
  }
  .contact__info {
    padding-bottom: min(4vw, 49px);
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    width: 84%;
    margin: 0 auto;
  }
  .contact__right {
    width: 84%;
    margin: 0 auto;
  }
  .contact__social {
    padding: 3.2rem;
  }
  .social__list--contact {
    justify-content: center;
  }
  .social__list--contact::after {
    width: 15%;
    height: 3px;
    transform: translateY(-50%);
  }
  .social__list--contact::before {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--primary-color);
    width: 15%;
    height: 3px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  /* footer */
  .footer__container {
    flex-direction: column;
    align-items: start;
    gap: 5rem;
  }
  .footer__right {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 998.98px) {
  .header__btn--mobile,
  .intro__item--mobile {
    display: none;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .mr-12 {
    margin-right: 6px;
  }
  .ml-16 {
    margin-left: 8px;
  }
  .ml-12 {
    margin-left: 6px;
  }
  .header__btn {
    display: none;
  }
  .author__name {
    font-size: 1.8rem;
  }
  .header__btn--mobile {
    display: inline-block;
  }
  .header__phone-icon {
    position: absolute;
    margin-right: 0;
    width: 40px;
    height: 40px;
    top: 29%;
    right: 22%;
  }
  .header__logo--img {
    height: 35px;
    width: 35px;
  }
  .menu-drawer {
    inset: 0 23% 0 0;
    padding: 20px;
  }
  /* hero */
  .introduction {
    padding-top: 120px;
  }
  .heading,
  .intro__content {
    width: 100%;
  }
  .intro__cta {
    justify-content: space-between;
  }
  .intro__btn,
  .btn--contact {
    width: 46%;
  }
  .btn--contact {
    margin-left: 0;
  }
  .intro__item {
    display: none;
  }
  .intro__item--mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    bottom: 0;
  }
  .intro__img {
    width: 100%;
  }
  /* about */
  .about__left {
    width: 100%;
  }
  .achieve__heading {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  .achievement {
    padding: 4px 9px;
    padding-right: 14px;
  }
  .achieve__desc {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 0;
  }
  .about__job {
    font-size: 1.3rem;
  }
  .about__right {
    width: 100%;
  }
  .heading-lv2 {
    font-size: 2.4rem;
  }
  .about__social {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .social__list {
    width: 100%;
  }
  /* gallery */
  .gallery__intro {
    flex-direction: column;
  }
  .gale__title,
  .service__title {
    width: 100%;
  }
  .gale__btn {
    align-self: flex-start;
    margin-top: 20px;
  }
  .gallery__result {
    flex-direction: column;
  }
  /* services */
  .service__left {
    width: 100%;
  }
  .service__item {
    padding: 10px;
    width: 96%;
  }
  .ser__heading {
    font-size: 1.6rem;
  }
  .gallery__item {
    width: 100%;
  }
  .gale__img {
    width: 100%;
  }
  .service__right {
    display: none;
  }
  .ser__img {
    width: 100%;
    object-fit: contain;
    /* min-height: 417px; */
  }
  /* blog */
  .blog__container {
    grid-template-columns: 1fr 1fr;
  }
  .img--last {
    grid-column: 1 / 3;
  }
  .blog__img {
    width: 100%;
  }
  /* ins */
  .ins__container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* contact */
  .social__list--contact::after,
  .social__list--contact::before {
    display: none;
  }
  .social__list--contact {
    padding-left: 0;
  }
  .contact__social {
    padding: 2.4rem;
  }
  .contact__info {
    padding-bottom: min(4vw, 49px);
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    width: 87%;
    margin: 0 auto;
  }
  .contact__right {
    width: 87%;
  }
  .contact__form input,
  #cus__plan,
  #cus__mes {
    width: 100%;
    padding-left: 9px;
  }
  .contact__btn {
    margin-top: 18px;
  }
  #footer {
    padding: 0;
  }
  .footer__container {
    gap: 3em;
  }
  .footer__right {
    flex-direction: column;
    gap: 10px;
  }
  #footer .nav__link {
    padding: 0;
  }
  .copy_right {
    font-size: 1.6rem;
    align-self: flex-start;
  }
}
